<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuevo usuario</title>
</head>
<body>
    <form th:action="@{/newUser}" th:object="${userDao}"action="#" method="post">
        <input th:field="*{email}" type="email" placeholder="persona@dominio">
        <input th:field="*{name}" type="text" placeholder="John">
        <input th:field="*{lastName1}" type="text" placeholder="Doe">
        <input th:field="*{lastName2}" type="text" placeholder="MacAllister">
        <select th:field="*{role}">
            <option th:each="role: ${roles}" 
                    th:value="${role}" 
                    th:text="${role.getDisplayName()}">
            </option>
        </select>
        <button type="submit">Crear</button> 

    </form>
    
</body>
</html>